<!-- users/templates/users/signup.html -->
{% extends "users/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Sign Up</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control">
                            {% if field.errors %}
                                <div class="alert alert-danger mt-1">
                                    {{ field.errors|striptags }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">
                    Already Have An Account? <a href="{% url 'login' %}">Log In</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}